

<div class="container">
    <ul class="pinky">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
<h2>Topic on HttpClient </h2>
<br>
<fieldset>
<h4><b>HttpClienet:-</b></h4>
<p> An HttpClient can be used to send requests and retrieve their responses. An HttpClient is created through a builder .
     The builder can be used to configure per-client state, like: the preferred protocol version ( HTTP/1.1 or HTTP/2 ),
      whether to follow redirects, a proxy, an authenticator, etc.<br><br>
    =>In httpclient we some methods</p>
    <div class="methods">
        <ul >
            <li>GET() METHOD</li>
            <li>PUSH() METHOD</li>
            <li>PUT() METHOD</li>
            <li>DELETE() METHOD</li>
          </ul>
    </div>  
    
     <div>
        <p>By using above methods I am created contact details of my friends
       <a></a>
    </p> 
</div>    
</fieldset>
</div>